
:root {
    --violeta: #8B34F3;
    --texto-escuro: #28373F;
    --texto-claro: #FDF7FF;
    --lilas: #9E88B2;
    --verde-claro: #62BAAC;
    --verde-escuro: #4B8077;
    --fonte-principal: 'Poppins';
}

*{
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    background-image: url("img/banner_fundo.png");
    background-repeat: no-repeat;
    font-family: var(--fonte-principal);
    min-height: 100vh;
    font-size: 16px;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4%;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav .logo a{
    font-size: 30px;
    font-weight: bold;
    color: var(--texto-claro);
    text-decoration: none;
}

nav .logo b {
    color: var(--texto-escuro);
    text-transform: uppercase;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li{
    padding: 0 15px;
}
nav ul li a{
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: var(--texto-claro);
    transition: .8s;
}

nav ul li a:hover{
    color: var(--texto-claro);
    font-size: 20px;
}

main{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-bx{
    width: 40%;
}

.text-bx-titulo {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.text-bx-titulo b{
    color: var(--texto-claro);
}

.text-bx-subtitulo {
    font-size: 2rem;
    font-weight: bold;
}

.text-bx-subtitulo b{
    color: var(--texto-escuro)
}

.text-bx p{
    color: var(--texto-claro);
    font-weight: 400;
    margin-top: 20px;
}

.explicacao-texto {
    font-size: 1.5rem;
    line-height: 28px;
    color: black;
}

.text-bx .input-bx{
    margin: 20px 0;
    display: flex;
}

.text-bx {
    padding: 10px 0;
    color: white;
    cursor: pointer;
}

.img-bx{
    width: 42%;
}

.img-ax{
    position: relative;
    display: flex;
    margin:2rem 1rem;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(241, 127, 226);
    box-shadow:0 1px 2px 0 rgba(0, 0, 0, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.img-ax:after{
    content:"";
    position:absolute;
    background-color: gray;
    width: auto;
    height: auto;
    opacity: 0;
    border-radius: 5px;
    box-shadow:0 5px 15px 0 rgba(0,0,0,0.3);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); z-index: -1;
}

.img-ax:hover{
    transform:scale(1.25,1.25);
}

.img-ax:hover::after{
    opacity:1;
    box-sizing: border-box;
}

.img-bx img{
    width: 100%;
}

.dropdown {
    float: left;
}

.dropdown .dropbtn {
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: var(--fonte-principal);
margin: 0;
}

.dropbtn {
    transition: .8s;
}

.dropbtn:hover {
    color: var(--texto-claro);
    font-size: 20px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
background-color: var(--lilas);
}

.dropdown-content {
display: none;
position: absolute;
background-color: white;
min-width: 160px;
box-shadow: 0px 1px 4px rgb(0 0 0 / 25%);
z-index: 1;
}

.dropdown-content a {
float: none;
color: var(--texto-escuro);
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: #ddd;

}

.dropdown:hover .dropdown-content {
display: block;

}

.educacao {
    margin-top: 18%;
}

.educacao-titulo {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.educacao-texto {
    color: var(--texto-escuro);
    font-weight: 400;
    margin: 20px 0;
    font-size: 20px;
    padding: 0 250px 0 0;
}

.educacao2 {
    background-image: url("img/section_fundo.png");
    background-position: center;
    width: 100%;
    background-size: cover;
    padding: 10rem 0;
    height: auto;

}

.educacao3 {
    background-image: url("img/section_fundo.png");
    background-position: auto;
    width: 100%;
    background-size: cover;
    padding: 0;
    height: auto;

}

.educacao-cards1 {
    display: flex;
    width: auto;
    text-align: center;
    margin: 0 auto;
    gap: 3rem;

}

.educacao-cards {
    display: flex;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    gap: 3rem;

}

.card1 {
    background-color: inherit;
    padding: 3rem 3rem;
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
}

.card2 {
    background-color: inherit;
    padding: 3rem 3rem;
    background: rgba(255, 255, 255, 0.438);
    box-shadow: 0 8px 32px 0 rgba(85, 52, 104, 0.644);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
}

.card-titulo {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card-texto {
    text-align: left;
    color: var(--texto-escuro);
    font-weight: 400;
    margin: 20px 0;
    font-size: 20px;
}

footer {
    width: 100%;
}

.footer{
    background-image: url("img/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    color: var(--texto-claro);
    margin-top: 30px;
    height: 30vh;
}

.footer-content{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 120px;
}

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;

}

.footer-content h3 span{
    color: var(--texto-escuro);
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    
}

.socials li{
    margin: 0 10px;
}

.socials_b{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 2;
    
}


.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    
    text-align: center;
}

.footer-bottom p{

font-size: 14px;
word-spacing: 2px;

}

.footer-bottom p a{
color:#44bae8;
font-size: 16px;
text-decoration: none;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-minimal.section-fluid .container-fluid {
	padding-left: 15px;
	padding-right: 15px;
}

.slideshow-container {
    width: 550px;
    position: relative;
    margin: 0 auto;
    
}

.mySlides img {
    width: 100%;
    height: 350px;

}
   
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
top: 0;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--lilas);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: var(--violeta);
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media (min-width: 1600px) {
	.section-fluid {
		padding-left: 75px;
		padding-right: 75px;
	}
	.section-fluid .container-fluid {
		padding-left: 0;
		padding-right: 0;
		max-width: 1770px;
		margin-left: auto;
		margin-right: auto;
	}
}



